---
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <nav>
      <a href="/">홈</a>
      <a href="/blog">블로그</a>
    </nav>
    <h1>{pageTitle}</h1>
    <slot />
  </body>
</html>
